.DS_Store
tmux/plugins/
raycast
fzf
history.txt
zshrc/.zsh_history
zshrc/.zcompdump*
zshrc/.zcompcache/
zshrc/.zsh_sessions/
zsh/.zsh_history
zsh/.zcompdump*
zsh/.zcompcache/
zsh/.zsh_sessions/
zsh/work.zsh
result
*.backup
*.bak*
